.card-login,
.form-login {
  margin: 1rem;
}

@media (min-width: 548px) {
  .text-header {
    text-align: center;
  }

  .card-login {
    margin: 7rem 7rem 7rem 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-login {
    margin: 5rem 7rem 7rem 7rem;
  }

  .LoginFormSubmit {
    margin-top: 2rem;
  }

  .loginPage-error {
    text-align: center;
    margin: 0rem 7rem 3rem 7rem;
  }
}
