.card-register {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.role-column {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.role {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0 0.5rem 0 0.5rem;
}

.form-group {
  margin: 0.5rem;
  padding: 1rem;
}

.register-title {
  font-size: 2.5rem;
}

.card-register,
.form-register {
  margin: 1rem;
}

.form-group > div {
  margin: 0.1rem;
}

.register-label {
  margin-top: 1rem;
}

.identify-form {
  margin-bottom: 1rem;
}

.registerButton-container {
}

@media (min-width: 668px) {
  .card-register {
    margin: 3rem 2rem 2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-register {
    margin: 1rem;
  }

  .form-group {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 1080px) {
  .card-register {
    margin: 5rem 7rem 2rem 7rem;
  }
  .form-group {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 0.1rem;
  }
}

@media (max-width: 668px) {
  .registerButton-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .register-button {
    margin: 2rem;
  }
}
