.card-register,
.form-register {
  margin: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-role,
.text-header {
  text-align: center;
}

.label-role {
  margin-right: 1rem;
}

.identify-label,
.gender-label,
.identify-form,
.medical-label,
.Allergies-label {
  margin-top: 1rem;
}

.identify-form,
.gender-form {
  margin-bottom: 1rem;
}
