.logo {
  width: 130px;
  height: 70px;
  margin-left: 15px;
}

.login {
  margin-left: 5vw;
  margin-right: 1rem;
}

.logout {
  margin-left: 50vw;
}

.register {
  margin-right: auto;
}

#menu {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: flex;
    margin: -3.6rem 1rem 1rem 10rem;
  }

  .logout {
    margin-left: 8rem;
  }
}

@media (min-width: 1000px) {
  .login {
    margin-left: 60vw;
  }
  .logout {
    margin-left: 70vw;
  }
}

@media (min-width: 1200px) {
  .login {
    margin-left: 65vw;
  }
}

@media (min-width: 1400px) {
  .login {
    margin-left: 70vw;
  }
}
