/* TODO: Primera versión, falta mejorar */

.loginForm-field {
  margin: 0.65rem;
  padding: 0.65rem;
}

.loginForm-field span {
  display: flex;
  justify-content: center;
}

.formFieldLogin-input {
  border: 0;
  height: 2rem;
  width: 100%;
}

.loginForm-checkbox {
  display: flex;
  justify-content: center;
}

.buttonLogin {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
