.card-login,
.form-login {
  margin: 1rem;
}

.loginform-label {
  margin-top: 1rem;
}
.login-title{
  font-size: 3rem;
}

.form-login {
  margin: 2rem;
  padding: 2rem;
}

.LoginFormSubmit {
  margin-top: 2rem;
  position: center;
}

.loginPage-error {
  text-align: center;
  margin: 0rem 7rem 3rem 7rem;
}

.text-header {
  text-align: center;
}

.card-login {
  margin: 7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rememberPassword{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

@media (max-width: 608px) {
  .card-login {
    margin: 3rem 1rem 1rem 1rem;
  }
}
