.user-list {
  margin: 12rem 7rem 7rem 22rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.item-list {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.role,
.item-list > p {
  text-align: center;
}

.item-list > Form {
  margin: 1rem;
}

.item-list > Button,
.label-text {
  margin-top: 1rem;
}

.header {
  font-size: 2rem;
}
