.card-exterior {
  margin: 7rem 2rem 0 2rem;
  z-index: -1;
}

.detail-header,
.detail-text {
  text-align: center;
}

.columns {
  display: grid;
  margin: 1rem;
}

.sign-up {
  margin: 1rem 2rem 0 2rem;
}

@media (min-width: 650px) {
  .card-exterior {
    margin: 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: -1;
  }

  .detail-header,
  .detail-text {
    text-align: center;
  }

  .detail-text {
    margin-top: 1rem;
  }

  .columns {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 2rem 3rem 2rem 2rem;
  }
  .activities {
    list-style: none;
  }

  .sign-up {
    margin-top: -7rem;
    margin-left: 7rem;
  }
}
