.card-login,
.form-login {
  margin: 1rem;
}

.form-register {
  margin: 1rem;
}

.register-placeholder::placeholder {
  font-weight: lighter;
}

.register-title {
  font-size: 2.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group > div {
  margin: 0.1rem;
}

.form-role,
.text-header {
  text-align: center;
}

.label-role,
.medical-label {
  margin-right: 1rem;
}

.label-activities {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 0.5rem;
  padding: 0 0.5rem;
}

.form-medical {
  text-align: center;
  margin-top: 1rem;
}

.medical-label {
  margin-top: 1rem;
}

.registerButton-container {
  grid-column: 1;
  padding-top: 2rem;
}

@media (min-width: 1080px) {
  .card-register {
    margin: 5rem 7rem 2rem 7rem;
  }

  .form-group {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 0.1rem;
  }
}

@media (min-width: 668px) {
  .card-register {
    margin: 3rem 2rem 2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-register {
    margin: 1rem;
  }

  .form-group {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (min-width: 548px) {
  .text-header {
    text-align: center;
  }

  .card-login {
    margin: 7rem 7rem 7rem 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-login {
    margin: 5rem 7rem 7rem 7rem;
  }

  .LoginFormSubmit {
    margin-top: 2rem;
  }

  .loginPage-error {
    text-align: center;
    margin: 0rem 7rem 3rem 7rem;
  }
}
