.header-nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: black;
}

.register {
  margin: 1rem;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 40px;
}
.logo {
  width: 130px;
  height: 70px;
  margin-left: 15px;
}
