.card-createCamp {
  margin: 10rem 7rem 5rem 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title-createCamps {
  text-align: center;
  font-size: 2rem;
}

.newCamp-label,
.label-tag {
  margin-top: 1rem;
}

.form-groupCreate {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-around;
  align-content: space-around;
}

.form-createCamps {
  margin: 1rem;
}

.label-activities {
  margin-top: 1rem;
  margin-left: 45%;
}

.activities {
  grid-column: 1 / -1;
  margin-bottom: 0.1rem;
}

.activities-checkbox {
  display: flex;
}

.activities-checkbox > div {
  margin: 0 0 1rem 15rem;
}

.badge {
  margin-top: 1.3rem;
  display: none;
}

.button-createCamp {
  margin: 1rem 0 1rem 0;
  grid-column: 2;
}

@media (max-width: 1000px) {
  .card-createCamp {
    margin: 7rem 5rem 5rem 15rem;
  }
  .form-groupCreate {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 600px) {
  .card-createCamp {
    margin: 7rem 1rem 2rem 1rem;
  }
}
