.card-form {
  margin: 12rem 7rem 7rem 22rem;
}

.form-modify {
  margin: 1rem;
}

.form-groupModify {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.form-groupModify > div {
  margin: 0.1rem;
}
