
.list-cards {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 70%;
  border: none;
}

.card {
  margin: 1rem;
}

.pagination {
  margin-bottom: 2rem;
}

@media (min-width: 605px) {
  .con-card {
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

@media (min-width: 1080px) {
  .con-card {
    margin: 7rem;
  }
}
