.container-card {
  margin: 1rem;
}

.pagination {
  margin-bottom: 2rem;
}

@media (min-width: 605px) {
  .container-card {
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-list {
    margin: 1rem;
  }
}

@media (min-width: 1080px) {
  .container-card {
    margin: 7rem;
  }
}
