.container-target {
  margin: 1rem;
  display: flex;
}

.title,
.description {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.type-camp {
  height: 3.5rem;
}

.location,
.places {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 1rem;
}

.img-location {
  height: 2.5rem;
}

.img-places {
  height: 1.5rem;
}

@media (min-width: 608px) {
  .container-target {
    margin: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }

  .text-location {
    margin-top: 0.5rem;
  }
}
