.cards {
  margin: 1rem;
  display: flex;
}

.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.type-camp {
  height: 3.5rem;
}

.location,
.places {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 1rem;
}

.img-location {
  height: 2rem;
}

.img-places {
  height: 1.5rem;
}
